<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Statistiche</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>

<body class="text-center">
  <iframe src="http://localhost:5601/app/dashboards#/view/8a3f4e30-69d1-11ee-9a58-7f66f35a4e0d?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))&hide-filter-bar=true" height="600" width="800"></iframe>
</body>

</html>